# Esconde scripts e arquivos de configuração
*.sh linguist-vendored
*.json linguist-vendored
package.json linguist-vendored
yarn.lock linguist-vendored

# Força o JS a ser a estrela
*.js linguist-detectable
*.js linguist-language=JavaScript
