# Ignora scripts e arquivos de configuração JSON pesados
*.sh linguist-vendored=true
*.json linguist-vendored=true

# Força o reconhecimento absoluto do JavaScript
**/*.js linguist-detectable=true
**/*.js linguist-language=JavaScript
